


.list--1{
	h2{
		margin-bottom: 80px;
	}
	ul{
		padding: 0px;
	}
	>ul{
		padding:60px 0px 60px 0px;
		border-top: 1px solid lighten($color_navy, $color_light);
		list-style:none;
		li{
			overflow:hidden;

		}

		ul{
			list-style:none;
			float: right;
			margin-top: -2px;

			li{
				margin-top: 10px;
				font-size: 1.6rem;
			}
			li:first-child{
				margin-top:0px;
			}
		}
		
	}
}


@include  screen-tablet--portait {

	.list--1{
		
		>ul{
	
			h3{
				text-align: center;
				margin-bottom: 25px;
			}

			ul{
				float: none;
				li{
					text-align: center;
				}
				
			}
			
		}
	}
    
}
